// Initial animation values
.wrapper-animation-move
    position: relative

    .animation
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0

.animation
    transition-duration: 0.25s
    opacity: 100%

// Apply in animations
.fade-in
    .animation
        opacity: 0 !important