$color_a: #d1d1d1
$color_b: #fff
$color_c: #fff
$color_d: #fff
    
html
    margin: 0
    padding: 0
    
    

body
    background: #434449
    background: -webkit-radial-gradient(top left, #434449, #141518)
    background: -moz-radial-gradient(top left, #434449, #141518)
    background: radial-gradient(to bottom right, #434449, #141518)
    background-size: 100vw 100vh
    width: 100vw
    margin: 0
    font-family: 'Montserrat', sans-serif

.title
    font-family: 'Oswald', sans-serif

.wrapper-img
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center

    img
        margin: 0
        padding: 0
        width: 100%
        height: 100%

p
    font-size: 18px

    &.small
        font-size: 16px

.hide
    display: none !important

a
    text-decoration: none
    color: $color_a

.fix-width
    width: 100%
    max-width: 1500px
    margin: 0 auto

    @media screen and (max-width: 1550px)
        margin: 0 50px
        width: calc(100% - 100px)