header
    height: 80px
    margin-top: 25px !important

    display: flex
    align-items: center
    justify-content: space-between

    .wrapper-img
        width: auto
        height: 100%

    nav
        ul
            margin: 0
            padding: 0

            a

                li
                    list-style: none
                    text-transform: uppercase
                    color: $color_a
                    font-size: 18px

                &:nth-child(2)
                    margin-left: 80px

    @media screen and (max-width: 600px)
        flex-direction: column
        height: auto

        .wrapper-img
            width: 70px
            height: 100%

        nav
            width: 100%
            margin-top: 20px

            ul
                width: 100%
                justify-content: space-evenly

                li:nth-child(2)
                        margin-left: 0

    @media screen and (max-width: 400px)
        nav
            ul
                justify-content: space-between
