header
    height: 80px
    display: flex
    align-items: center
    justify-content: space-between
    position: fixed
    left: 0
    top: 0
    margin: 25px calc((100vw - 1500px)/2) !important
    max-width: 1500px
    width: 100%
    z-index: 1

    .wrapper-img
        width: auto
        height: 100%
        cursor: pointer

        img
            transition-duration: 0.5s

        &:hover
            img
                width: auto
                height: 90%


    nav
        ul
            margin: 0
            padding: 0
            display: flex
            align-items: center
            justify-content: center

            li

                transition-duration: 0.5s
                opacity: 0.4
                display: block
                padding: 40px
                list-style: none
                text-transform: uppercase
                color: $color_d
                font-size: 18px
                transition-duration: 0.5s
                cursor: pointer
                    

                &:hover
                    text-shadow: 0px 0px 20px $color_e
                    opacity: 1
                    color: $color_d

                &:nth-child(2)
                    padding-right: 0

    @media screen and (max-width: 1600px)
        max-width: calc(100% - 100px)
        margin: 25px 50px !important

    @media screen and (max-width: 600px)
        flex-direction: column
        height: auto

        .wrapper-img
            width: 70px
            height: 100%

        nav
            width: 100%
            margin-top: -65px

            ul
                width: 100%
                justify-content: space-between

                li
                    padding: 20px 0 !important

    @media screen and (max-width: 450px)
        .wrapper-img
            display: none

        nav
            margin-top: 0px