main
    display: flex
    align-items: center
    justify-content: center
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0

    .iam

        .name
            font-size: 10vw
            margin: 0
            padding: 0
        
        .uppercase
            text-transform: uppercase

        .up
            text-align: left
            margin-left: 100px

        .down
            text-align: right
            margin-right: 100px