main
    display: flex
    align-items: center
    justify-content: center
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0

    .iam

        .name
            font-size: 10vw
            margin: 0
            padding: 0
            text-shadow: 0px 0px 4vw black
            font-weight: bold
        
        .uppercase
            text-transform: uppercase

        .up
            text-align: left
            margin-left: 100px

        .down
            text-align: right
            margin-right: 100px

    @media screen and (max-width: 1200px)

        .iam
            .name
                font-size: 14vw

    @media screen and (max-width: 800px)

        .iam
            .up
                margin-left: 20px

            .down
                margin-right: 20px

    @media screen and (max-width: 500px)

        .uppercase
            font-size: 12px