.projects

    // Calculate images size

    // $height_wrapper: min(40vh, 420px)
    // $height_active: calc($height_wrapper)
    // $height_blur: calc($height_wrapper * 0.6)
    // $width_active: calc($height_wrapper / 0.75)
    // $width_blur: calc($height_wrapper / 0.75 * 0.6)
    // $border: 4px solid red

    // @media screen and (max-width: 950px)
    //     $height_wrapper: min(40vh, 420px)
    //     $height_active: calc($height_wrapper * 0.8)
    //     $height_blur: calc($height_wrapper * 0.5)
    //     $width_active: calc($height_wrapper / 0.75 * 0.8)
    //     $width_blur: calc($height_wrapper / 0.75 * 0.5)
    //     $border: 4px solid blue

    // border: $border 
    
    margin-top: 100vh
    position: relative
    flex-direction: column

    .wrapper-images
        width: 100vw
        overflow-x: hidden

        .images
            height: 40vh

            .wrapper-img
                margin: 0
                transition-duration: 0.5s
                position: relative

                &.active
                    filter: grayscale(60%)
                    margin: 20px
                    width: calc(min(40vh) / 0.75 * 1)
                    min-width: calc(min(40vh) / 0.75 * 1)
                    height: calc(min(40vh) * 1)

                &.blur
                    filter: grayscale(100%) blur(6px)
                    width: calc(min(40vh) / 0.75 * 0.6)
                    min-width: calc(min(40vh) / 0.75 * 0.6)
                    height: calc(min(40vh) * 0.6) 

                    img
                        transition-duration: 0.5s
                        position: absolute
                        top: 0
                        
                    &.left
                        img
                            left: 0
                    &.right
                        img
                            right: 0
                
                    &:hover
                        filter: grayscale(100%)

                    &.slide
                        opacity: 0

                        &.left
                            img
                                left: -50px
                        &.right
                            img
                                right: -50px


                        &.no-width
                            width: 0
                            min-width: 0

            &.vertical
                height: auto

                .wrapper-img
                    &.active, &.blur
                        width: 70vw
                        min-width: 60vw
                        height: auto


    .wrapper-info
        width: 100%
        // position: absolute
        // top: 420px
        // left: 0
        // z-index: 0

        .info

            .wrapper-title
                width: 100%
                height: auto
                margin: 20px 0

                .title
                    font-size: 80px
                    margin: 0
                    text-shadow: 0px 0px 10px black
                    color: $color_b
                    display: inline-block
                    text-transform: uppercase
                    transition-duration: 0.5s

                    &.on-change
                        opacity: 0

            .details
                text-align: center
                line-height: 35px
                width: 70%
                margin: 0 auto
                transition-duration: 0.5s

                &.on-change
                    opacity: 0

            .cta
                text-transform: uppercase
                margin-top: 25px
                padding: 15px 40px
                box-shadow: 4px 4px 12px 4px rgba(black, 0.5)

    @media screen and (max-width: 1500px)

        .wrapper-info
            .info
                .details
                    width: 60%

    @media screen and (max-width: 1250px)

        @media screen and (max-height: 550px)
            
            .wrapper-info

                .info

                    .wrapper-title
                        margin-bottom: 0

                    .details
                        display: none

                    .cta
                        margin-top: 20px

    @media screen and (max-width: 1050px)
        @media screen and (max-height: 650px)
            
            .wrapper-info

                .info

                    .wrapper-title
                        margin-bottom: 0

                    .details
                        display: none

                    .cta
                        margin-top: 20px

    @media screen and (max-width: 950px)

        .wrapper-info
            .info
                .wrapper-title
                    
                    .title
                        font-size: 8vw


        @media screen and (max-height: 700px)
            
            .wrapper-info

                .info

                    .wrapper-title
                        margin-bottom: 0

                    .details
                        display: none

                    .cta
                        margin-top: 20px

    @media screen and (max-width: 800px)

        .wrapper-info
            .info                
                .details
                    width: 90%

        @media screen and (max-height: 850px)
            
            .wrapper-info

                .info

                    .wrapper-title
                        margin-bottom: 0

                    .details
                        display: none

                    .cta
                        margin-top: 20px

    @media screen and (max-width: 650px)

        @media screen and (max-height: 1120px)
            
            .wrapper-info

                .info

                    .wrapper-title
                        margin-bottom: 0

                    .details
                        display: none

                    .cta
                        margin-top: 20px

    @media screen and (max-width: 425px)

        .wrapper-info

            .info

                .wrapper-title
                    margin-bottom: 25px

                .details
                    display: block

                .cta
                    margin-top: 25px


        @media screen and (max-height: 950px)
            
            .wrapper-info

                .info

                    .wrapper-title
                        margin-bottom: 0

                    .details
                        display: none

                    .cta
                        margin-top: 20px






