.wrapper-thanks

    svg
        fill: $color_a

    width: 100%
    height: 100%
    margin-top: -50px

    .thanks
        .logo
            width: 200px
            height: 200px
            cursor: default

            &:hover
                img
                    width: 100%
                    height: 100%
                

        .text
            margin-left: 100px

            h1
                line-height: 50px
                margin: 0
                margin-bottom: 20px

                svg
                    width: 30px
                    height: 30px
                    margin-right: 20px

            p
                margin: 0

    
    @media screen and (max-width: 800px)
        margin: 0


        .thanks
            flex-direction: column
            padding-bottom: 50px

            .text
                margin: 0
                text-align: center
                margin-top: 30px

                h1
                    svg
                        display: none

                p
                    max-width: 90%
                    margin: 0 auto


        @media screen and (max-height: 700px)

            .thanks
                .logo
                    width: 100px
                    height: 100px


        @media screen and (max-height: 550px)

            .thanks
                .logo
                    display: none

    @media screen and (max-width: 400px)

        .thanks
            padding-bottom: 100px

        .socials
            display: flex !important
