html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #929294;
  font-size: 18px;
  overflow: hidden;
}

.title {
  font-family: "Antonio", sans-serif;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #929294;
}

.main-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.fixed-width {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media screen and (max-width: 1550px) {
  .fixed-width {
    margin: 0 50px;
    width: calc(100% - 100px);
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.5);
  transition-duration: 0.25s;
}
.btn:hover {
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.8);
}

.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
}
.logo:hover img {
  width: 90%;
  height: 90%;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  margin: 25px calc((100vw - 1500px) / 2) !important;
  max-width: 1500px;
  width: 100%;
  z-index: 1;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul li {
  opacity: 0.6;
  display: block;
  padding: 40px;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  transition-duration: 1s;
  cursor: pointer;
}
header nav ul li:nth-child(2) {
  padding-right: 0;
}
header nav ul li.inactive {
  opacity: 0.2;
  cursor: default;
}
header nav ul li.inactive:hover {
  text-shadow: none !important;
  opacity: 0.2 !important;
}
header nav.horizontal ul li:hover {
  text-shadow: 0px 0px 20px #739cc4;
  opacity: 1;
}
@media screen and (max-width: 1600px) {
  header {
    max-width: calc(100% - 100px);
    margin: 25px 50px !important;
  }
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: auto;
  }
  header .wrapper-img {
    width: 70px;
    height: 100%;
  }
  header nav {
    width: 100%;
    margin-top: -65px;
  }
  header nav ul {
    width: 100%;
    justify-content: space-between;
  }
  header nav ul li {
    padding: 20px 0 !important;
  }
}
@media screen and (max-width: 450px) {
  header .wrapper-img {
    display: none;
  }
  header nav {
    margin-top: 0px;
  }
}

.contact {
  text-align: center;
  justify-content: center;
}
.contact h2, .contact h3 {
  color: #d1d1d1;
}
.contact h2 {
  margin-top: 0;
}
.contact h3 {
  margin-bottom: 5px;
}
.contact .info {
  max-width: 38vw;
  margin-right: 100px;
}
.contact .form {
  padding: 50px;
  max-width: calc(50vw - 60px);
  margin-top: 30px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.7), 3px -3px 10px rgba(0, 0, 0, 0.3);
}
.contact .form form {
  margin: 0;
}
.contact .form form input {
  display: block;
  width: 400px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #929294;
  font-size: 15px;
  margin-top: 30px;
  height: 30px;
  line-height: 30px;
  transition-duration: 0.3s;
  color: #d1d1d1;
}
.contact .form form input:focus {
  outline: none;
  border-bottom: 2px solid #929294;
  font-size: 20px;
}
.contact .form form input[type=submit] {
  border: none;
  color: #d1d1d1;
  width: auto;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 5px 30px;
  height: auto;
}
@media screen and (min-width: 1300px) and (max-height: 650px) {
  .contact .form form .inputs {
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .contact .form form .inputs input:nth-child(1) {
    margin-top: 0;
  }
  .contact .form form .inputs::-webkit-scrollbar {
    width: 5px;
  }
  .contact .form form .inputs::-webkit-scrollbar-track {
    background: rgba(146, 146, 148, 0.1);
  }
  .contact .form form .inputs::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 148, 0.5);
  }
  .contact .form form .inputs::-webkit-scrollbar-thumb:hover {
    background: rgba(146, 146, 148, 0.8);
  }
}
@media screen and (min-width: 1300px) and (max-height: 600px) {
  .contact .form {
    margin-top: 62px;
  }
  .contact .form form h2 {
    display: none;
  }
}
@media screen and (max-width: 1299px) {
  .contact .info {
    max-width: 30vw;
  }
}
@media screen and (max-width: 1299px) and (max-height: 650px) {
  .contact .info {
    display: none;
  }
  .contact .form {
    margin: 0;
  }
  .contact form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact form .inputs input {
    width: calc(100% - 19px);
    max-width: calc(100% - 20px);
    margin: 10px;
  }
}
@media screen and (max-width: 1150px) {
  .contact .info {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1150px) and (max-height: 550px) {
  .contact .form {
    padding: 20px;
  }
}
@media screen and (max-width: 1150px) and (max-height: 350px) {
  .contact .form {
    margin-top: 62px;
  }
  .contact .form form h2 {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .contact .info {
    margin-right: 80px;
  }
  .contact .info p {
    display: none;
  }
}
@media screen and (max-width: 1050px) and (max-height: 490px) {
  .contact .form {
    margin-top: 62px;
  }
  .contact .form form h2 {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .contact .info {
    display: none;
  }
  .contact .form {
    width: 50vw;
    max-width: 50vw;
  }
  .contact .form form input {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .contact .form {
    width: calc(70vw - 100px);
    max-width: calc(70vw - 100px);
  }
  .contact .form form .inputs {
    display: block;
  }
}
@media screen and (max-width: 800px) and (max-height: 680px) {
  .contact .form form .inputs {
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .contact .form form .inputs input:nth-child(1) {
    margin-top: 0;
  }
  .contact .form form .inputs::-webkit-scrollbar {
    width: 5px;
  }
  .contact .form form .inputs::-webkit-scrollbar-track {
    background: rgba(146, 146, 148, 0.1);
  }
  .contact .form form .inputs::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 148, 0.5);
  }
  .contact .form form .inputs::-webkit-scrollbar-thumb:hover {
    background: rgba(146, 146, 148, 0.8);
  }
}
@media screen and (max-width: 500px) {
  .contact .form {
    width: calc(90vw - 100px);
    max-width: calc(90vw - 100px);
  }
}
@media screen and (max-width: 500px) and (max-height: 780px) {
  .contact .form form .inputs {
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .contact .form form .inputs input:nth-child(1) {
    margin-top: 0;
  }
  .contact .form form .inputs::-webkit-scrollbar {
    width: 5px;
  }
  .contact .form form .inputs::-webkit-scrollbar-track {
    background: rgba(146, 146, 148, 0.1);
  }
  .contact .form form .inputs::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 148, 0.5);
  }
  .contact .form form .inputs::-webkit-scrollbar-thumb:hover {
    background: rgba(146, 146, 148, 0.8);
  }
}
@media screen and (max-width: 500px) and (max-height: 600px) {
  .contact .form {
    margin-top: 62px;
  }
  .contact .form form h2 {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .contact .form {
    width: calc(90vw - 30px);
    max-width: calc(90vw - 30px);
    padding: 15px;
    margin-top: 0;
  }
  .contact .form form h2 {
    display: block;
  }
}
@media screen and (max-width: 380px) and (max-height: 500px) {
  .contact .form {
    margin-top: 62px;
  }
  .contact .form form h2 {
    display: none;
  }
}

main .iam {
  padding: 4vw;
}
main .iam:hover .name::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
main .iam:hover p {
  margin-right: 10px;
  margin-left: 10px;
}
main .iam .name {
  font-size: min(10vw, 150px);
  margin: 0;
  text-shadow: 0px 0px 4vw black;
  font-weight: bold;
  color: #d1d1d1;
  letter-spacing: normal;
  position: relative;
  padding: 1vw;
  cursor: default;
  padding-top: 0;
}
main .iam .name::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
main .iam .name::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #1c1c1f;
  z-index: -1;
  transition: transform 0.25s ease;
}
main .iam .uppercase {
  text-transform: uppercase;
}
main .iam .up {
  text-align: left;
  margin-left: 100px;
}
main .iam .down {
  text-align: right;
  margin-right: 100px;
}
main .iam p {
  transition-duration: 0.25s;
}
main .socials {
  position: fixed;
  left: 0;
  top: calc(100vh - 184px - 25px);
  height: 184px;
  margin-left: calc((100vw - 1500px) / 2);
  z-index: 1;
}
main .socials .column {
  flex-direction: column;
}
main .socials .column .icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 2px;
}
main .socials .column .icon:hover svg {
  filter: drop-shadow(0 0 10px #739cc4);
  opacity: 1;
  fill: #739cc4;
}
main .socials .column .icon svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  opacity: 0.4;
  transition-duration: 0.5s;
}
main .scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: calc(100vh - 211px);
  height: 211px;
  width: 30px;
  margin-right: calc((100vw - 1500px) / 2 - 15px);
  z-index: 1;
  transition-duration: 1s;
}
main .scroll p {
  transform: rotateZ(90deg);
  display: block;
  margin-top: 0;
  transition-duration: 0.5s;
}
main .scroll p.up, main .scroll p.down {
  padding: 30px;
  cursor: pointer;
}
main .scroll p.up:hover, main .scroll p.down:hover {
  text-shadow: 0px 0px 5px #739cc4;
  font-weight: bold;
}
main .scroll p.transparent {
  opacity: 0;
  cursor: default;
}
main .scroll.inactive {
  opacity: 0.2;
  cursor: default;
}
@media screen and (max-width: 1600px) {
  main .socials {
    margin-left: 50px;
  }
  main .scroll {
    margin-right: 50px;
  }
}
@media screen and (max-width: 800px) {
  main .iam .name {
    font-size: 12vw;
  }
  main .iam .up {
    margin-left: 20px;
  }
  main .iam .down {
    margin-right: 20px;
  }
  main .socials {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 20px;
    bottom: 25px;
    top: initial;
  }
  main .socials .column {
    flex-direction: row;
  }
  main .scroll {
    display: none;
  }
}
@media screen and (max-width: 800px) and (max-height: 425px) {
  main .socials {
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  main .uppercase {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) and (max-height: 425px) {
  main .socials {
    display: none !important;
  }
}
@media screen and (max-width: 400px) {
  main .socials {
    flex-direction: column;
    height: 80px;
    bottom: 15px;
  }
}
@media screen and (max-width: 400px) and (max-height: 425px) {
  main .socials {
    display: none !important;
  }
}

.fixed-bg {
  background: #434449;
  background: -webkit-radial-gradient(top left, #434449, #0d0d0f);
  background: -moz-radial-gradient(top left, #434449, #0d0d0f);
  background: radial-gradient(to bottom right, #434449, #0d0d0f);
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.projects {
  position: relative;
  flex-direction: column;
}
.projects .wrapper-images {
  width: 100vw;
  overflow-x: hidden;
}
.projects .wrapper-images .images {
  height: 40vh;
}
.projects .wrapper-images .images .wrapper-img {
  margin: 0;
  transition-duration: 0.5s;
  position: relative;
}
.projects .wrapper-images .images .wrapper-img.active {
  filter: grayscale(60%);
  margin: 20px;
  width: 53.3333333333vh;
  min-width: 53.3333333333vh;
  height: 40vh;
  cursor: pointer;
}
.projects .wrapper-images .images .wrapper-img.active:hover {
  filter: grayscale(0%);
}
.projects .wrapper-images .images .wrapper-img.blur {
  filter: grayscale(100%) blur(6px);
  width: 32vh;
  min-width: 32vh;
  height: 24vh;
}
.projects .wrapper-images .images .wrapper-img.blur img {
  transition-duration: 0.5s;
  position: absolute;
  top: 0;
}
.projects .wrapper-images .images .wrapper-img.blur.left img {
  left: 0;
}
.projects .wrapper-images .images .wrapper-img.blur.right img {
  right: 0;
}
.projects .wrapper-images .images .wrapper-img.blur:hover {
  filter: grayscale(100%);
}
.projects .wrapper-images .images .wrapper-img.blur.slide {
  opacity: 0;
}
.projects .wrapper-images .images .wrapper-img.blur.slide.left img {
  left: -50px;
}
.projects .wrapper-images .images .wrapper-img.blur.slide.right img {
  right: -50px;
}
.projects .wrapper-images .images .wrapper-img.blur.slide.no-width {
  width: 0;
  min-width: 0;
}
.projects .wrapper-images .images.vertical {
  height: auto;
}
.projects .wrapper-images .images.vertical .wrapper-img.active, .projects .wrapper-images .images.vertical .wrapper-img.blur {
  width: 75vw;
  min-width: 75vw;
  height: auto;
  filter: grayscale(60%);
}
.projects .wrapper-images .images.vertical .wrapper-img.active img, .projects .wrapper-images .images.vertical .wrapper-img.blur img {
  position: initial;
}
.projects .wrapper-info {
  width: 100%;
}
.projects .wrapper-info .info .wrapper-title {
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.projects .wrapper-info .info .wrapper-title .title {
  font-size: 80px;
  margin: 0;
  text-shadow: 0px 0px 10px black;
  color: #d1d1d1;
  display: inline-block;
  text-transform: uppercase;
  transition-duration: 0.5s;
}
.projects .wrapper-info .info .wrapper-title .title.on-change {
  opacity: 0;
}
.projects .wrapper-info .info .details {
  text-align: center;
  line-height: 35px;
  width: 70%;
  margin: 0 auto;
  transition-duration: 0.5s;
}
.projects .wrapper-info .info .details.on-change {
  opacity: 0;
}
.projects .wrapper-info .info .cta {
  text-transform: uppercase;
  margin-top: 25px;
  padding: 15px 40px;
}
@media screen and (max-width: 1500px) {
  .projects .wrapper-info .info .details {
    width: 60%;
  }
}
@media screen and (max-width: 1500px) and (max-height: 550px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1250px) and (max-height: 600px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1050px) and (max-height: 650px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 950px) {
  .projects .wrapper-info .info .wrapper-title .title {
    font-size: 8vw;
  }
}
@media screen and (max-width: 950px) and (max-height: 780px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .projects .wrapper-info .info .details {
    width: 90%;
  }
}
@media screen and (max-width: 800px) and (max-height: 850px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 25px;
  }
  .projects .wrapper-info .info .details {
    display: block;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 25px;
  }
}
@media screen and (max-width: 650px) and (max-height: 800px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 425px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 25px;
  }
  .projects .wrapper-info .info .details {
    display: block;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 25px;
  }
}
@media screen and (max-width: 425px) and (max-height: 830px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.wrapper-thanks {
  width: 100%;
  height: 100%;
  margin-top: -50px;
}
.wrapper-thanks .thanks .logo {
  width: 200px;
  height: 200px;
  cursor: default;
}
.wrapper-thanks .thanks .logo:hover img {
  width: 100%;
  height: 100%;
}
.wrapper-thanks .thanks .text {
  margin-left: 100px;
}
.wrapper-thanks .thanks .text h1 {
  line-height: 50px;
  margin: 0;
  margin-bottom: 20px;
}
.wrapper-thanks .thanks .text h1 svg {
  width: 30px;
  height: 30px;
  fill: #929294;
  margin-right: 20px;
}
.wrapper-thanks .thanks .text p {
  margin: 0;
}
.wrapper-thanks .thanks .text a {
  border-radius: 50px;
  padding: 5px 25px;
  margin-top: 30px;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  .wrapper-thanks {
    margin: 0;
  }
  .wrapper-thanks .thanks {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .wrapper-thanks .thanks .text {
    margin: 0;
    text-align: center;
    margin-top: 30px;
  }
  .wrapper-thanks .thanks .text h1 svg {
    display: none;
  }
  .wrapper-thanks .thanks .text p {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) and (max-height: 700px) {
  .wrapper-thanks .thanks .logo {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 800px) and (max-height: 550px) {
  .wrapper-thanks .thanks .logo {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .wrapper-thanks .thanks {
    padding-bottom: 100px;
  }
  .wrapper-thanks .socials {
    display: flex !important;
  }
}

/*# sourceMappingURL=styles.css.map */
