html {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #d1d1d1;
  font-size: 18px;
}

.title {
  font-family: "Oswald", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #d1d1d1;
}

.fix-width {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media screen and (max-width: 1550px) {
  .fix-width {
    margin: 0 50px;
    width: calc(100% - 100px);
  }
}

header {
  height: 100px;
  margin-top: 25px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .wrapper-img {
  width: auto;
  height: 100%;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
header nav ul a li {
  list-style: none;
  text-transform: uppercase;
  color: #d1d1d1;
  font-size: 18px;
}
header nav ul a:nth-child(2) {
  margin-left: 80px;
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: auto;
  }
  header .wrapper-img {
    width: 70px;
    height: 100%;
  }
  header nav {
    width: 100%;
    margin-top: 20px;
  }
  header nav ul {
    width: 100%;
    justify-content: space-evenly;
  }
  header nav ul li:nth-child(2) {
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  header nav ul {
    justify-content: space-between;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
main .iam .name {
  font-size: 10vw;
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 4vw black;
  font-weight: bold;
}
main .iam .uppercase {
  text-transform: uppercase;
}
main .iam .up {
  text-align: left;
  margin-left: 100px;
}
main .iam .down {
  text-align: right;
  margin-right: 100px;
}
main .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: calc(100vh - 184px - 50px);
  height: 184px;
  margin-left: 50px;
}
main .socials .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .socials .column .icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 2px;
}
main .socials .column .icon svg {
  width: 100%;
  height: 100%;
  fill: #d1d1d1;
}
@media screen and (max-width: 800px) {
  main .iam .name {
    font-size: 12vw;
  }
  main .iam .up {
    margin-left: 20px;
  }
  main .iam .down {
    margin-right: 20px;
  }
  main .socials {
    top: calc(100vh - 50px - 50px);
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
  main .socials .column {
    flex-direction: row;
  }
}
@media screen and (max-width: 500px) {
  main .uppercase {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  main .socials {
    flex-direction: column;
  }
}

.fixed-bg {
  background: #434449;
  background: -webkit-radial-gradient(top left, #434449, #141518);
  background: -moz-radial-gradient(top left, #434449, #141518);
  background: radial-gradient(to bottom right, #434449, #141518);
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/*# sourceMappingURL=styles.css.map */
