html {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #929294;
  font-size: 18px;
  overflow: hidden;
}

.title {
  font-family: "Antonio", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #929294;
}

.main-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.fixed-width {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media screen and (max-width: 1550px) {
  .fixed-width {
    margin: 0 50px;
    width: calc(100% - 100px);
  }
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  margin: 25px calc((100vw - 1500px) / 2) !important;
  max-width: 1500px;
  width: 100%;
}
header .wrapper-img {
  width: auto;
  height: 100%;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul a li {
  list-style: none;
  text-transform: uppercase;
  color: #929294;
  font-size: 18px;
}
header nav ul a:nth-child(2) {
  margin-left: 80px;
}
@media screen and (max-width: 1600px) {
  header {
    max-width: calc(100% - 100px);
    margin: 25px 50px !important;
  }
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: auto;
  }
  header .wrapper-img {
    width: 70px;
    height: 100%;
  }
  header nav {
    width: 100%;
    margin-top: 20px;
  }
  header nav ul {
    width: 100%;
    justify-content: space-evenly;
  }
  header nav ul li:nth-child(2) {
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  header nav ul {
    justify-content: space-between;
  }
}

main .iam .name {
  font-size: min(10vw, 150px);
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 4vw black;
  font-weight: bold;
  color: #d1d1d1;
}
main .iam .uppercase {
  text-transform: uppercase;
}
main .iam .up {
  text-align: left;
  margin-left: 100px;
}
main .iam .down {
  text-align: right;
  margin-right: 100px;
}
main .socials {
  position: fixed;
  left: 0;
  top: calc(100vh - 184px - 25px);
  height: 184px;
  margin-left: calc((100vw - 1500px) / 2);
}
main .socials .column {
  flex-direction: column;
}
main .socials .column .icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 2px;
}
main .socials .column .icon svg {
  width: 100%;
  height: 100%;
  fill: #929294;
}
main .scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: calc(100vh - 211px - 50px);
  height: 211px;
  width: 30px;
  margin-right: calc((100vw - 1500px) / 2 - 15px);
}
main .scroll p {
  transform: rotateZ(90deg);
  display: block;
  margin-top: 0;
}
main .scroll p.up, main .scroll p.down {
  padding: 30px;
}
@media screen and (max-width: 1600px) {
  main .socials {
    margin-left: 50px;
  }
  main .scroll {
    margin-right: 50px;
  }
}
@media screen and (max-width: 800px) {
  main .iam .name {
    font-size: 12vw;
  }
  main .iam .up {
    margin-left: 20px;
  }
  main .iam .down {
    margin-right: 20px;
  }
  main .socials {
    top: calc(100vh - 50px - 25px);
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
  main .socials .column {
    flex-direction: row;
  }
  main .scroll {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  main .uppercase {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  main .socials {
    flex-direction: column;
    top: calc(100vh - 90px - 25px);
  }
}

.fixed-bg {
  background: #434449;
  background: -webkit-radial-gradient(top left, #434449, #0d0d0f);
  background: -moz-radial-gradient(top left, #434449, #0d0d0f);
  background: radial-gradient(to bottom right, #434449, #0d0d0f);
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.projects {
  position: relative;
  flex-direction: column;
}
.projects .wrapper-images {
  width: 100vw;
  overflow-x: hidden;
}
.projects .wrapper-images .images {
  height: 40vh;
}
.projects .wrapper-images .images .wrapper-img {
  margin: 0;
  transition-duration: 0.5s;
  position: relative;
}
.projects .wrapper-images .images .wrapper-img.active {
  filter: grayscale(60%);
  margin: 20px;
  width: 53.3333333333vh;
  min-width: 53.3333333333vh;
  height: 40vh;
}
.projects .wrapper-images .images .wrapper-img.blur {
  filter: grayscale(100%) blur(6px);
  width: 32vh;
  min-width: 32vh;
  height: 24vh;
}
.projects .wrapper-images .images .wrapper-img.blur img {
  transition-duration: 0.5s;
  position: absolute;
  top: 0;
}
.projects .wrapper-images .images .wrapper-img.blur.left img {
  left: 0;
}
.projects .wrapper-images .images .wrapper-img.blur.right img {
  right: 0;
}
.projects .wrapper-images .images .wrapper-img.blur:hover {
  filter: grayscale(100%);
}
.projects .wrapper-images .images .wrapper-img.blur.slide {
  opacity: 0;
}
.projects .wrapper-images .images .wrapper-img.blur.slide.left img {
  left: -50px;
}
.projects .wrapper-images .images .wrapper-img.blur.slide.right img {
  right: -50px;
}
.projects .wrapper-images .images .wrapper-img.blur.slide.no-width {
  width: 0;
  min-width: 0;
}
.projects .wrapper-images .images.vertical {
  height: auto;
}
.projects .wrapper-images .images.vertical .wrapper-img.active, .projects .wrapper-images .images.vertical .wrapper-img.blur {
  width: 70vw;
  min-width: 60vw;
  height: auto;
  filter: grayscale(60%);
}
.projects .wrapper-images .images.vertical .wrapper-img.active img, .projects .wrapper-images .images.vertical .wrapper-img.blur img {
  position: initial;
}
.projects .wrapper-info {
  width: 100%;
}
.projects .wrapper-info .info .wrapper-title {
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.projects .wrapper-info .info .wrapper-title .title {
  font-size: 80px;
  margin: 0;
  text-shadow: 0px 0px 10px black;
  color: #d1d1d1;
  display: inline-block;
  text-transform: uppercase;
  transition-duration: 0.5s;
}
.projects .wrapper-info .info .wrapper-title .title.on-change {
  opacity: 0;
}
.projects .wrapper-info .info .details {
  text-align: center;
  line-height: 35px;
  width: 70%;
  margin: 0 auto;
  transition-duration: 0.5s;
}
.projects .wrapper-info .info .details.on-change {
  opacity: 0;
}
.projects .wrapper-info .info .cta {
  text-transform: uppercase;
  margin-top: 25px;
  padding: 15px 40px;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1500px) {
  .projects .wrapper-info .info .details {
    width: 60%;
  }
}
@media screen and (max-width: 1250px) and (max-height: 550px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1050px) and (max-height: 650px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 950px) {
  .projects .wrapper-info .info .wrapper-title .title {
    font-size: 8vw;
  }
}
@media screen and (max-width: 950px) and (max-height: 700px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .projects .wrapper-info .info .details {
    width: 90%;
  }
}
@media screen and (max-width: 800px) and (max-height: 850px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) and (max-height: 1120px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}
@media screen and (max-width: 425px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 25px;
  }
  .projects .wrapper-info .info .details {
    display: block;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 25px;
  }
}
@media screen and (max-width: 425px) and (max-height: 950px) {
  .projects .wrapper-info .info .wrapper-title {
    margin-bottom: 0;
  }
  .projects .wrapper-info .info .details {
    display: none;
  }
  .projects .wrapper-info .info .cta {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
